.SignUpContaner{
  background-color: #edf0f5;
  float: left;
}

.pan{
  position: absolute;
  left:100px;
  top:40px;
  width:600px;
  height: auto;
}

.signup{
  color: #59595c;
  padding-top: 40px;
  font-size: 30px;
}

.Forgetpassword{
padding-right:110px;
font-size: 14px;
}

.Do{
  padding-right:40px;
font-size: 14px;
}