.MealContanier{
  background-color: #edf0f5;
  float: left;
}

.MealShape1{
  clip-path: polygon(51% 0, 100% 48%, 100% 0);
  width:420px;
  height: 420px;
  top:60px;
  position: absolute;
  right:0px;
}

.MealShape2{
 border-radius: 60%;
 position: absolute;
 right:0px;
 top:60px;
 width:420px;
 height: 420px;
}

.stary{
  width:25px;
  float: left;
}
.starts{
  margin-left: 40px;
  margin-top: 150px;
}
.MealName{
  color:#3a3a3a;
  font-size: 40px;
  background-color: white;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
}
.by{
  color:#6b6b76;
  background-color: white;
  font-size: 20px;
position: absolute;
left:40px; 
top:170px;
}
.IngredientsH{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 25px;
  float: left;
  margin-left: -215px;
  margin-top: 130px;

}
.Ingredients{
  color:#3a3a3a;
  font-size: 20px;
  position: absolute;
  margin-left: 45px;
  top:225px;

}
.RecipeH{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 25px;
  float: left;
  margin-left: -215px;
  margin-top: 220px;
}
.Recipe{
  color:#3a3a3a;
  font-size: 20px;
  position: absolute;
  margin-left: 45px;
  top:320px;
  width: 360px;

}



.Occasions{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-left: 1012px;
  margin-top: -15px;
}

.Occasionsp{
  font-weight: normal;
  margin-top: -24px;
  margin-left: 160px;

}
.Area{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 18px;
  float: left;
  padding-left: 442px;
  padding-top: 55px;
  padding-bottom: 355px;
  padding-right:300px;

}
.Areap{
  font-weight: normal;
  margin-top: -21px;
  margin-left: 160px;

}

.type{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
 top:310px;
 left:605px;
}

.typep{
  color:#3a3a3a;
  font-weight: normal;
  margin-top: -21px;
  margin-left: 160px;
}
.veg{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
top:230px;
left: 720px;
}
.vegp{
  color:#3a3a3a;
  font-weight: normal;
  position: absolute;
  top:-19px;
  left: 120px;

}
.time{
  color:#3a3a3a;
  font-weight: bold;
  font-size: 18px;
  float: left;
  padding-left: 400px;
  padding-top: 100px;
}

.timep{
  color:#3a3a3a;
  font-weight: normal;
  margin-top: -21px;
  margin-left: 190px;

}