.ExploreContaner{
  background-color: #edf0f5;
  float: left;
  
}

.Logo{
  width:35px;
  height:35px;
}

.chef{
  width: 32px;
  height: 32px;
}

.chef:hover{
  width: 33px;
  height: 33px;
}

.LinkCategories{
  color: #edf0f5;
  text-decoration: none;
padding-right:30px;
}

.LinkCategories:hover {
  text-decoration: underline;
}

.add{
  width:20px;
  height: auto;
}
.add:hover {
  width:21px;
  height: auto;
}

.chefblack{
  width:20px;
  height: auto;
  padding-right: 10px;
}

.Categories{
  width:20px;
  height: 10px;
}

.Categories:hover{
  width:21px;
  height: 10.3px;
}
.type{
  margin:10px;
  font-weight: bold;
}
.menubar2{
  position: absolute;
  left:110px;
  bottom: 0px;
}
.line1{
  position: absolute;
  top:30px;
  left:15px;
}

.line2{
  position: absolute;
  top:23.5px;
  left:10px;
}

.line3{
  position: absolute;
  top:210px;
  left:10px;
}
.menubar3{
  position: absolute;
  left:270px;
  bottom: 116px;
}

.line4{
  position: absolute;
  top:175px;
  left:10px;
}
.menubar4{
  position: absolute;
  left:410px;
  bottom: 108px;
}